//Colors
$background-color: rgb(255, 255, 255);
$primary-color: rgb(204, 0, 0);
$box-shadow: rgb(211,211,211);
$primary-textColor: rgb(40,40,43);
$hover-color:  	rgb(247,247,247);
$secondary-textColor: rgb(128,128,128);
$searchbar-backgroundColor: rgb(247,247,247);
$footer-backgroundColor: rgb(244,244,244);
$secondary-textColor: rgb(255,255,255);
