@import '_variables.scss';
@import './Navbar/navbar';
@import './Banner/banner';
@import './Footer/footer';
@import './Categories/categories';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &_block {
        display: block;
        width: 65%;
        margin: auto;

        &_1,
        &_2 {
            margin: 10px auto;
            padding: 10px;
            border-radius: 5px;
            h1 {
                font-size: 48px;
            }
            span {
                font-size: 32px;
            }
        }

        &_1 {
            background-color: green;
        }
        &_2 {
            background-color: pink;
        }
    }
}
